<div class="comment">
	<h4 class="post title"><%= link_to comment.post.title, comment.post %></h4>
	<div class="meta">
		On <%= l comment.created_at, :format => :short %> by <%= comment.username %>
	</div>
	<div class="content"><%= comment.content %></div>
</div>