- @users.each do |user|
  %h1
    = link_to user.username, user
    (Posts: #{user.posts.count})
  .entry
    .truncated
      = user.posts.last.content.html_safe unless user.posts.blank?
  %div{style: "clear:both;"}
  %hr/
  %div{style: "clear:both;"}
= paginate @users
