#block-table.block
  = render partial: "posts_table", locals: {posts: @posts}
- content_for :sidebar do
  .block.notice
    %h4 Actions:
    = link_to image_tag("icons/add.png") + " New post", new_admin_post_path, class: "button", id: "new_course_button"
    %p &nbsp;
