<div class="block" id="block_forms">
  <div class="content">
    <h2 class="title">New post</h2>
    <div class="inner form">
      <%= render 'form' %>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="block notice">
    <h4>Actions:</h4>
    <div class="inner">
      <%= link_to image_tag("icons/go_back.png") + "Posts", admin_posts_path, :class => "button" %>
    </div>
    <div style="clear:both"></div>
    <div>
      <table class="table">
        <tr><td>Created at:</td><td>&nbsp;</td></tr>
        <tr><td>Last update:</td><td>&nbsp;</td></tr>
      </table>
    </div>
    </div>
  </div>
<% end %>

