%h1
  Posts for: 
  %strong #{params[:id]}
%hr/
- unless @posts.blank?
  = render "posts/list"
- else
  %p
    We are sorry, but there are no posts tagged as
    %strong= params[:id]
  - unless @tags.blank?
    %p Take a look at those tags:
    %p
      - @tags.each do |tag|
        %span#tag
          = link_to tag.name, tag
