<h2>Admin panel</h2>
<ul>
	<li><%= link_to "New post", new_post_path %></li>
	<% if params[:action]=="show" && current_user == @post.user %>
		<li><%= link_to "Edit Post", edit_post_path(@post) %></li>
	<% end %>
	<% if params[:action] != "index" && current_user == @post.user %>
		<li><%= link_to "Delete Post", @post, :method => :delete, :confirm => "Are you sure?" %></li>
	<% end %>
</ul>
