%h2 Admin quick panel
%ul
  %li= link_to "Admin panel", admin_posts_path
  %li= link_to "New post", new_admin_post_path
  - if params[:action]=="show" && current_user == @post.user
    %li= link_to "Edit Post", edit_admin_post_path(@post)
  - if params[:action] != "index" && current_user == @post.user
    %li= link_to "Delete Post", ["admin", @post], :method => :delete, :confirm => "Are you sure?"
